body {
    margin: 0;
    background-color: #fff;
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #233348;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.letterT {
    position: absolute;
    left: 92px;
    font-weight: bold;
    color: #fff;
    font-size: 26px;
}

.logoText {
    font-weight: bold;
    font-size: 24px;
}

.menu ul {
    display: flex;
    gap: 30px;
    font-size: 18px;
    text-align: center;
}

.menu li {
    list-style-type: none;
    cursor: pointer;
    opacity: 50%;
}

.menu li:hover {
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
    opacity: 100%;
}

.dots1 {
    position: relative;
    top: 80px;
    margin-left: 15px;
}

.sectionOne {
    display: flex;
    justify-content: center;
    margin: 50px;
    gap: 150px;
}

.Illustration1 {
    position: relative;
    bottom: 90px;
    width: 693px;
    height: auto;

}

.sectionOneText {
    display: flex;
    flex-flow: wrap column;
    text-align: left;
    font-weight: lighter;
    color: #7D7987;
    font-size: 21px;
    line-height: 32px;
}

.sectionOneText h1 {
    color: #000;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
}

.sectionOne button {
    margin-top: 20px;
    height: 56px;
    width: 200px;
    background-color: #458FF6;
    color: #fff;
    text-align: center;
    border-radius: 55px;
    border: 0;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.buttonConsultToday:hover {
    cursor: pointer;
    font-size: 17px;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 4px #d3e1e9;
}

.buttonConsultToday:active {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.10);
    font-size: 16px;
}

.SectionTwo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-flow: wrap column;
    line-height: 30px;
}

.SectionTwoText {
    font-weight: lighter;
    font-size: 17px;
    color: #7D7987;
    max-width: 920px;
    margin-bottom: 100px;
}

.SectionTwo h2 {
    font-weight: bold;
    font-size: 36px;
    color: #000;
}

.SectionTwoShape {
 position: absolute;
 width: 100%;
 height: 680px;
 right: 440px;
 opacity: 50%;
}

.SectionTwoDots {
position: absolute;
right: 388px;
bottom: -620px;
}

.cardsGridOne {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 15px;
    position: relative;
    overflow: visible;
}

.SectionTwoCardsLogoImg {
    display: flex;
    width: 91px;
    height: 90px;
    bottom: 50px;
    margin-left: 45px;
    margin-top: 45px;
}

.card1 {
    display: flex;
    flex-direction: column;
    padding: 2px 16px;
    align-items: flex-start;
    text-align: left;
    background-color: white;
    box-shadow: 10px 40px 50px rgba(156, 184, 219, 0.1);
    width: 350px;
    height: 354px;
    border-radius: 20px;
}

.card1 h3 {
    font-size: 24px;
    margin-left: 45px;
    margin-bottom: 5px;
}

.card1 p {
    font-size: 16px;
    font-weight: lighter;
    margin-left: 45px;
}

.SectionTwo button {
    height: 56px;
    width: 200px;
    background-color: transparent;
    color: #458FF6;
    text-align: center;
    border-radius: 55px;
    border: 1.4px solid #458FF6;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin-top: 40px;
}

.SectionTwo button:hover {
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 4px #e5e5e5;
}

.SectionTwo button:active {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.10);
}

.sectionThree {
    display: flex;
    justify-content: center;
    gap: 150px;
    margin-top: 100px;
}

.sectionThreeText {
    display: flex;
    flex-flow: wrap column;
    text-align: left;
    font-weight: lighter;
    font-size: 18px;
    line-height: 30px;
}

.sectionThreeText h2 {
    color: #000;
    font-weight: bold;
    font-size: 36px;
    line-height: 56px;
}

.sectionThree button {
    height: 56px;
    width: 200px;
    background-color: transparent;
    color: #458FF6;
    text-align: center;
    border-radius: 55px;
    border: 1.4px solid #458FF6;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin-top: 5%;
}

.sectionThree button:hover {
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 4px #e5e5e5;
}

.sectionThree button:active {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.10);
}

.sectionFour {
    display: flex;
    justify-content: center;
    gap: 150px;
    margin-top: 100px;
}

.sectionFourText {
    display: flex;
    flex-flow: wrap column;
    text-align: left;
    line-height: 30px;
}

.sectionFourText h2 {
    color: #000;
    font-weight: bold;
    font-size: 36px;
    line-height: 56px;
}

.sectionFourText p {
    font-weight: lighter;
    font-size: 18px;
}

.sectionFour button {
    height: 56px;
    width: 200px;
    background-color: transparent;
    color: #458FF6;
    text-align: center;
    border-radius: 55px;
    border: 1.4px solid #458FF6;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin-top: 5%;
}

.sectionFour button:hover {
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 4px #e5e5e5;
}

.sectionFour button:active {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.10);
}
.lineForSection3and4 {
    margin: -17px 0 0 0;
}

.sectionFiveReviews {
    display: flex;
    justify-content: center;
    margin: 200px 0;
}

.ReviewsBg {
    position: relative;
}

.reviewContent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 425px;
    padding: 60px;
    color: white;
}

.reviewContent h2 {
    text-align: center;
    margin-right: 130px;
    font-size: 36px;
    color: white;
}

.divider {
    margin-left: 530px;
    height: 2px;
    width: 56px;
    display: block;
    margin-top: -5px;
}

.reviewRowText {
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin: 50px 0 0 130px;
    font-weight: lighter;
    font-size: 19px;
}

.reviewLeft {
    display: flex;
    align-items: center;
    gap: 20px;
}

.GuyImage {
    width: 150px;
}

.reviewText {
    flex: 1;
    color: white;
    line-height: 1.6;
}

.sectionFiveReviews {
    display: flex;
    justify-content: center;
    margin: 200px 0;
}

.ReviewsBg {
    position: relative;
}

.reviewContent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 425px;
    padding: 60px;
    color: white;
}

.reviewContent h2 {
    text-align: center;
    margin-right: 130px;
    font-size: 36px;
    color: white;
}

.divider {
    margin-left: 530px;
}

.reviewRowText {
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin: 50px 0 0 130px;
    font-weight: lighter;
    font-size: 19px;
}

.reviewLeft {
    display: flex;
    align-items: center;
    gap: 20px;
}

.GuyImage {
    width: 150px;
}

.reviewText {
    flex: 1;
    color: white;
    line-height: 1.6;
}

.sectionSixArticles {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    gap: 40px;
    position: relative;
    overflow: visible;
}

.sectionSixArticles h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #000;
}

.ArticlesCardsContainer {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: stretch;
}

.card2 {
    width: 369px;
    height: 512px;
    background: white;
    border-radius: 16px;
    box-shadow: 10px 40px 50px rgba(156, 184, 219, 0.1);
    display: flex;
    flex-direction: column;
}

.card2 img {
    border-radius: 16px 16px 0 0;
    display: block;
    margin-bottom: 25px;
}

.card2 h3 {
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    margin: 0 50px 30px 50px;
    line-height: 1.5;
}

.card2 p {
    margin: 0 50px 35px 50px;
    text-align: left;
    font-size: 16px;
    font-weight: lighter;
    line-height: 1.5;
    color: #7D7987;
    
}

.card2 .ArticlesLink {
    color: #4089ED;
    font-weight: 600;
    font-size: 17px;
    text-align: left;
    text-decoration: none;
    margin: -10px 0 20px 50px;
}

.ArticlesLink:hover {
    text-decoration: underline;
    cursor: pointer;
}

.sectionSixArticles button {
    height: 56px;
    width: 200px;
    background-color: transparent;
    color: #458FF6;
    text-align: center;
    border-radius: 55px;
    border: 1.4px solid #458FF6;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

.sectionSixArticles button:hover {
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 4px #e5e5e5;
}

.sectionSixArticles button:active {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.10);
    
}

.ArticlesDots {
    position: absolute;
    width: 100%;
    height: 110px;
    bottom: 557px;
    right: 565px;
    opacity: 30%;
}

.ArticlesShape {
    position: absolute;
    width: 778px;
    height: 540px;
    bottom: 200px;
    right: 10px;
    opacity: 50%;

}

.ArticlesCardsContainer, .sectionSixArticles h2, .sectionSixArticles button {
    position: relative;
}

footer {
    background: linear-gradient(180deg, #64c0f2 0%, #447cd1 100%);
    padding: 80px 120px;
    color: white;
    margin-top: 200px;
}

.footerContent {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 50px;
    font-weight: lighter;
    line-height: 28px;
}

.footerColumnLeft p {
    line-height: 30px;
    font-size: 17px;
}

.footerColumnLeft {
    max-width: 320px;
}

.footerColumnLeft .copyright {
    margin-top: 40px;
    font-size: 14px;

}

.footerColumns h3 {
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: bold;
}

.footerColumns ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footerColumns ul li {
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 17px;
    font-weight: lighter;
}

.footerColumns ul li:hover {
        cursor: pointer;
        text-decoration: underline;

}

.footerDots1 {
    position: absolute;
    left: 9px;
    top: 5374px;
}

.footerDots2 {
    position: absolute;
    right: 90px;
    top: 5019px;
    opacity: 20%;
}


@media (max-width: 600px) {

  body *:not(.mobile-img) {
    display: none;
  }

  body {
    overflow-x: hidden;
    margin: 0;
  }

  .mobile-img {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSK-jCB8svXQ6RrcqbEidhr2pX__tsI-fjxuA&s"); /* your image */
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
  }
}