body {
    font-family: "Courier New", Courier, monospace;
    background: url('https://i.pinimg.com/1200x/e2/22/d6/e222d6ddbba0fd96d1cd143699a12e2a.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333131;
    padding: 20px;
}

h1, h2 {
    text-align: center;
}

.form-container {
    max-width: 400px;
    margin: 0 auto 20px auto;
    padding: 10px;
    background: rgba(255,255,255,0.8);
    border: 1px solid #000;
}

label {
    display: block;
    margin-top: 10px;
}

input, select, button {
    font-family: "Courier New", Courier, monospace;
    padding: 5px;
    margin-top: 5px;
    box-sizing: border-box;
}

input[type="number"], select {
    width: 100%;
    max-width: 100%;
    border: 1px solid #000;
    background: #fff;
    color: #000;
}

button {
    width: 100%;
    max-width: 100%;
    padding: 5px;
    cursor: pointer;
    border: 1px solid #000;
    background: #eee;
}

ul {
    max-width: 500px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

li {
    padding: 8px;
    background: rgba(255,255,255,0.8);
    margin-bottom: 5px;
    border: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li span {
    display: flex;
    gap: 5px;
}

li input[type="number"] {
    width: 60px;
}
